.idea/*
idea/*
temp/*
build/
*.patch
*.log
*.rej
vendor/*
*.iml
ontology-tool
config_test.json
wallet.dat
main.exe
main
peer_info.json
user_info.json

*.abi.json
*.avm
*.debug.json
*.Func.Map
*.warning